[req]
prompt = no
distinguished_name = dn
req_extensions = ext
input_password = 12345678

[dn]
CN = www.patoalhorno.com
emailAddress = webmaster@patoalhorno.com
O = Pato al Horno Ltd
L = Havana
C = CU

[ext]
subjectAltName = DNS:www.patoalhorno.com,DNS:patoalhorno.com

